body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.jumbotron {
  border-radius: 12px;
}
.categories {
  display: flex;
  justify-content: left;
  padding: .3vmin;

}